.position-social {
  transition: transform .2s;
  position: fixed;
  left: 1%;
  bottom: 15%;
  z-index: 1000; 
  & .icon {
    img{
      width: 3.5rem;
      height: auto;
    }
  }
  & .icon:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
}

.gift{
  position: fixed;
  z-index: 1000;
  bottom: 1%;
  right: 3.6%;
  width: 350px;
  height: 45px;
  background-color: orange;
  padding: 7px 0px 0px 20px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

app-scholarship-form{
  position: fixed;
  bottom: 10%;
  z-index: 1000;
  right: 3%;
}

@media only screen and (max-width: 350px) and (min-width: 0px){
  .gift {
    right: 1%;
    width: 180px;
    height: 24px;
    background-color: orange;
    padding-top: 3px;
    padding-left: 5px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 7px;
  }

  .icon {
    img{
      width: 1.5rem;
      height: auto;
    }
  }
}

@media only screen and (max-width: 500px) and (min-width: 350px) {
  .gift{
    right: 2%;
    width: 245px;
    height: 30px;
    background-color: orange;
    padding-top: 3px;
    padding-left: 7px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 7px;
  }

  .icon {
    img{
      width: 2rem;
      height: auto;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .icon {
    img{
      width: 5rem;
      height: auto;
    }
  }
}
