#carouselExampleControls {
    & #buttonBanner01 {
        position: absolute;
        z-index: 10;
        width: 13vw;
        padding: 1vw;
        top: 76%;  
        left: 45%; 
        font-size: 1.3vw;   
    }
    & .carousel {
        position: relative;
        padding-left: -15px;
        padding-right: -15px;
        & .banner {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        & .icon {
            font-size: 9vw;
            font-weight: 40;
            text-shadow: 2px 2px 8px black;
        }
    }
    
}
