<div *ngIf="course" class="course-subCourse-edit p-4">
  <div *ngFor="let item of course.subCourses; let i=index" class="row border course-outcome-item">
    <div class="col-1">
      {{i}}
    </div>
    <div class="col-8">
      <input class="form-control" type="text" value="{{item.name}}">
    </div>
    <div class="col-3">
      <button class="btn">Edit</button>
      <button class="btn" (click)="onDeleteClick(item.id)">Delete</button>
    </div> 
  </div>
  <form>
    <div class="row border course-outcome-item">
      <div class="col-1">
      </div>
      <div class="col-8">
        <input class="form-control w-100" name="course-outcome" placeholder="Input something" type="text" value="">
      </div>
      <div class="col-3">
        <button class="btn">Add</button>
      </div>
    </div>
  </form>
</div>