<div class="news row" *ngFor="let i of listNews">
    <div class="col-sm-4 col-12 news-img">
        <img src="../../../../assets/img/News-Event/{{i.image}}" alt="" />
    </div>
    <div class="col-sm-8 col-12 news-content">
        <div class="text">
            <div class="title1">{{ i?.title }}</div>
            <div class="main">{{ i?.shortDes }}</div>
            <div class="detail"><a href="/news/{{i?.id}}">Xem chi tiết >></a></div>
        </div>
    </div>
</div>
<div id="Pages">
    <ul class="pagination">
        <li class="page-item">
            <a (click)="getDataFromPreviousPage()" class="page-link">Previous</a>
        </li>
        <li *ngFor="let item of getListShowPage()">
             <button class = "buttonPagination" (click)="getDataFromCurrentPage(item)">{{item +1}}</button>
        </li>
        <li class="page-item">
            <a (click)="getDataFromNextPage()" class="page-link">Next</a>
        </li>
    </ul>
</div>
<div class="slideShow">
    <div id="carouselExampleControls" pause="false" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item {{ i == 0 ? 'active' : '' }}" *ngFor="let item of listNews2; let i = index">
                <img class="img-fluid" src="../../../../../assets/img/News-Event/{{item.image}}" class="d-block" alt="..." />
            </div>
        </div>
    </div>
</div>