<footer>
    <div class="container">
        <div class="row footer font-size">
            <div class="col-md-1 col-sm-1 col-1 col-xl-1 col-2"></div>
            <div class="col-md-5 infor">
                <div class="row vti-icon">
                    <img src="assets/img/logo/[LOGO]VTIACADEMY-01.png">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="address-cover">
                            <p class="address">
                                <i class="fas fa-map-marker-alt location"></i>{{contact?.address}}  
                            </p>
                            <p class="address2">
                                {{contact?.address2}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <p><i class="fas fa-phone-alt"></i>(+84) {{contact?.phone}} - (+84) {{contact?.phone2}}</p>
                    </div>
                    <div class="row">
                        <p><i class="fas fa-at"></i>{{contact?.email}}</p>
                    </div>
                    <div class="row">
                        <p><i class="fas fa-globe-americas"></i>{{contact?.domain}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-10">
                <div>
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.634628407787!2d105.84906851459588!3d21.007278293887975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac755cda2a7d%3A0xb6787ffe071e5d0a!2zNjAgQuG6oWNoIE1haSwgQ-G6p3UgROG7gW4sIEhhaSBCw6AgVHLGsG5nLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1598236375284!5m2!1svi!2s" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-2 col-xl-1"></div>
        </div>  
    </div>
</footer>