<div class="container-fluid">
    <div class="banner">
        <img src="../../../../../assets/img/mentors/anh1.PNG" class="img-fluid banner1" alt="" />
    </div>

    <div class="mentor-name-1">
        <div class="student-share-name">
            <h1><b>ĐỘI NGŨ MENTOR</b></h1>
        </div>
        <div class="mentor-slider">
            <app-mentors-slider imgclass="img-div1"></app-mentors-slider>
        </div>
    </div>

    <div class="container-mentor">
        <!-- <div class="mentor-name-1">
            <div class="mentor-name">
                <p class="text"><b>ĐỘI NGŨ MENTOR</b></p>
            </div>
            <div class="mentor-slider">
                <app-review-mentors-secondslider></app-review-mentors-secondslider>
            </div>
        </div> -->
        <div class="mentor-name-2">
            <div class="student-share-name2">
                <h1><b>CHUYÊN GIA NÓI VỀ CHƯƠNG TRÌNH ĐÀO TẠO</b></h1>
            </div>
            <div class="mentor-slider">
                <app-review-mentors-slider></app-review-mentors-slider>
            </div>
        </div>
    </div>
</div>
