<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage<b> Banner</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addBannerModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Banner</span></a>
                      </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of ListMainBanner; let stt = index">
                        <th>{{(stt + 1) + (currentPage) * 3}}</th>
                        <th>{{i.name}}</th>
                        <th>
                            <a [innerHTML]="i?.url"  (click)="toNewPage(i?.url)"></a>
                        </th>
                        <th>
                            <img style="height: 100px; width: 100px; object-fit: cover;" src="../../../../assets/img/main-Banner/{{i?.image}}">
                        </th>
                        <th>
                            <button href="#editBannerModal" (click)="openEditForm(i)" class="edit btn btn-outline-dark"
                            data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                title="Edit">&#xE254;</i></button>
                        <button href="#deleteBannerModal" (click)="deleteBanner(i?.id)"
                            class="delete btn btn-outline-danger" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Delete">&#xE872;</i></button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>{{getTotalRecordCurrentPage()}}</b> out of <b>{{totalRecord}}</b> entries</div>
                <ul class="pagination">
                    <li class="page-item">
                        <a (click)="getDataFromPreviousPage()" class="page-link">Previous</a>
                    </li>
                    <li *ngFor="let item of getListShowPage()">
                         <button (click)="getDataFromCurrentPage(item)">{{item +1}}</button>
                    </li>
                    <li class="page-item">
                        <a (click)="getDataFromNextPage()" class="page-link">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Edit banner-->
    <div id="editBannerModal" class="modal fade">
        <div class="modal-dialog">
            <div class='modal-content'>
                <form (ngSubmit)="editBanner()" [formGroup]="editBannerForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Banner</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input [formControlName] = "'id'" type="number" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input [formControlName] = "'name'" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Url</label>
                            <input [formControlName] = "'url'" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input [formControlName] = "'image'" type="text" class="form-control" readonly>
                            <input type = "file" accept="image/*" (change)="onSelectedFile($event)" required>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Add banner-->
    <div id="addBannerModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form (ngSubmit)="addBanner()" [formGroup]="addBannerForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Banner</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeAddForm()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input [formControlName] = "'name'" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Url</label>
                            <input [formControlName] = "'url'" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input [formControlName] = "'image'" type="text" class="form-control" required>
                            <input type = "file" accept="image/*" (change)="onSelectedFile($event)" required>
                            <div *ngIf="!file" class="text-danger">You need a picture</div>
                            <div *ngIf = "fileExists" class="alert-danger">File name already exists!</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="closeAddForm()">
                        <input type="submit" class="btn btn-success" [disabled]= "addBannerForm.invalid || !file" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
